body{
  display: flex;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
}
h2{
  background-color: dimgray;
  width:2000px;
  height: 80px;
  text-align: center;
  padding-top: 50px;
}
.main{
  justify-content: space-between;
  align-content: center;
}