*{
  padding: 0;
  margin: 0;
}

body{
  background-color:#200307;
 display: block;
 
}
h2{
 background-color:#b40c23;
  height: 80px;
padding-top: 40px;
border-radius: 5px;
box-shadow: 10px 10px #d4b4b9;
color: #ffff;
font-size: 30PX;
}
.mainContent{
text-align: center;
}
.main{
font-size: 15px;
color: #ffff;
}
@media screen and (min-width: 600px) {
  *{
    min-width: 1190px
  }
}
h3{
  color: crimson;
  font-size: 30px;
}
p{
    font-size: 20px;
}
