body{
  background-color: rgb(228, 96, 122);
 display: block;
}
h2{
 background-color: rgba(18, 228, 182, 0.959);
  height: 80px;
padding-top: 40px;
border-radius: 5px;
box-shadow: 10px 10px black;
}
.mainContent{
text-align: center;
}
.main{
font-size: 15px;
color: #ffff;
}

